body, html {
    height: 100%;
}

/* next button */
.next-page {
    font-family: "Lucida Handwriting", cursive;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    background-color: skyblue;
}

.next-page:hover {
    background: midnightblue;
    text-decoration: none;
    color: white;
}

/* nav bar */
#header {
    background-color: skyblue;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social-links {
    padding-right: 15px;
}

.social-links a {
    color: white;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
}

.social-links a:hover {
    color: navy;
}

.navbar {
    margin: auto;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar li a,
.navbar li a:focus {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-family: "Lucida Handwriting", cursive;
    font-size: 12px;
    font-weight: bold;
    padding: 0.5rem 2rem 0 1rem;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.navbar li a:hover {
    color: navy;
}

/* Animation Source from https://www.youtube.com/watch?v=TbmdISaTkNw */

.navbar li a:after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    height: 2px;
    line-height: 1;
    width: 90%;
    background-color: midnightblue;
    transform-origin: right bottom;
    transform: scaleX(0);
    transition: transform 0.5s linear
}

.navbar li a:hover:after,
.navbar li .active:after {
    transform: scaleX(1);
    transform-origin: left bottom;
    transition: transform 0.5s linear;
}

/* index.html */

/* hero */
.hero {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("photos/sunset.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

.hero .container {
    padding-top: 200px;
    position: relative;
}

.hero .container h1{
    font-size: 48px;
    font-family: "Lucida Handwriting", cursive;
}

/* about.html */
.about {
    padding-top: 80px;
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url("photos/sunset.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white
}
.about h1 {
    font-size: 48px;
    font-family: "Lucida Handwriting", cursive;
    text-align: center;
}

.about img {
    border-radius: 75%;
}

.about .row {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
}

.about .icon {
    color: skyblue;
    display: inline-block;
    justify-content: cneter;
    font-size: 84px;
}

.about h4 {
    font-size: 18px
}

/* album.html */
.section {
    background-color: #dbf3fa;
    padding-top: 20px;
}

/* contact.html */