body, html {
    height: 100%;
}

/* index.html */

/* nav bar */

#header {
    background-color: skyblue;
}

#header #container-fluid {
    padding-top: 5px;
    padding-bottom: 5px;
}

.social-links {
    padding-right: 15px;
}

.social-links a {
    color: rgb(86, 86, 86);
    display: inline-block;
    font-size: 18px;
    padding: 5px;
}

.social-links a:hover {
    color: blueviolet;
}

nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li a,
.navbar li a:focus {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar a:hover, .navbar ul li a.active {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid midnightblue;
}

.navbar ul a:hover,
.navbar ul .active:hover,
.navbar ul li:hover a {
    color: white;
}

/* hero */

#hero {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("photos/sunset.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
}

#hero .container {
    padding-top: 150px;
    position: relative;
}

.btn-about {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    background-color: skyblue;
}

.btn-about:hover {
    background: midnightblue;
    text-decoration: none;
    color: white;
}